body {
    background: #111112;
}

.example {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 5rem;
    width: 5rem;
    transform: translateX(-50%) translateY(-50%);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
}

.container:nth-of-type(1) {
    transform: rotate(0);
}

.container:nth-of-type(2) {
    transform: rotate(90deg);
}

.container:nth-of-type(3) {
    transform: rotate(180deg);
}

.container:nth-of-type(4) {
    transform: rotate(270deg);
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    background: #fff;
    -webkit-animation: move3 4.8s steps(1) infinite;
    animation: move3 4.8s steps(1) infinite;
}

.block:nth-of-type(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.block:nth-of-type(2) {
    -webkit-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.block:nth-of-type(3) {
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.block:nth-of-type(4) {
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.block>.item {
    float: left;
    height: 2.5rem;
    width: 2.5rem;
    background: #fff;
}

.block>.item:nth-of-type(1),
.block>.item:nth-of-type(2) {
    -webkit-animation: move1 1.2s linear infinite;
    animation: move1 1.2s linear infinite;
}

.block>.item:nth-of-type(3),
.block>.item:nth-of-type(4) {
    -webkit-animation: move2 1.2s linear infinite;
    animation: move2 1.2s linear infinite;
}

.block>.item:nth-of-type(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.block>.item:nth-of-type(2) {
    -webkit-animation-delay: 0.12s;
    animation-delay: 0.12s;
}

.block>.item:nth-of-type(3) {
    -webkit-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.block>.item:nth-of-type(4) {
    -webkit-animation-delay: 0.36s;
    animation-delay: 0.36s;
}

@-webkit-keyframes move1 {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    7% {
        transform: rotate(180deg);
        transform-origin: 100% 0%;
    }

    15% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
    }

    20% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
    }

    70% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
        opacity: 0;
    }

    100% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
        opacity: 0;
    }
}

@keyframes move1 {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    7% {
        transform: rotate(180deg);
        transform-origin: 100% 0%;
    }

    15% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
    }

    20% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
    }

    70% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
        opacity: 0;
    }

    100% {
        transform: rotate(270deg);
        transform-origin: 150% -50%;
        opacity: 0;
    }
}

@-webkit-keyframes move2 {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    7% {
        transform: rotate(-180deg);
        transform-origin: 100% 100%;
    }

    15% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
    }

    20% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
    }

    70% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
        opacity: 0;
    }

    100% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
        opacity: 0;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    7% {
        transform: rotate(-180deg);
        transform-origin: 100% 100%;
    }

    15% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
    }

    20% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
    }

    70% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
        opacity: 0;
    }

    100% {
        transform: rotate(-270deg);
        transform-origin: 150% 150%;
        opacity: 0;
    }
}

@-webkit-keyframes move3 {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move3 {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
