html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.9;
	padding-left: 10px;
}

a:hover{
	transition: 0.25s ease;
	color: #2299EE;
	cursor: pointer;
	opacity: 1 !important;
}

.home__uRcqa {
	padding: 0px;
	width: 100%;
	min-height: 300vh;
	height: 300vh;
	background-color: #111112;
	overflow: hidden;
}

.wrapper__fPxcn {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(10, 1fr);
	width: 100%;
	height: 100vh ;
}

.content_centered__rdWF- {
	grid-column-start: 5;
	grid-column-end: 11;
	grid-row-start: 4;
	grid-row-end: 8;
	padding: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	align-self: center;
	justify-items: center;
	text-align: center;
}

.mockup__J5HF\+ {
	grid-column-start: 4;
	grid-column-end: 12;
	grid-row-start: 3;
	grid-row-end: 9;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.message__VLdq7 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	color: #FFF5F5;
	opacity: 0.5;
	font-size: 1.1em;
	margin: 0px;
	margin-bottom: 10px;
	letter-spacing: 0.02em;
}

.logo__rB3jd {
	height: 50px;
	padding: 4px;
	width: auto;
}


.hero__\+mwTj {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #2299EE;
	border-bottom: 1px solid #2299EE;
}

.title__pGzP8 {
	color: #FFF5F5;
	font-size: 4em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin-left: 5px;
}

.description__N1nVU {
	color: #2299EEED;
	font-size: 1.55em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;	
	margin: 0px;
	padding: 10px;
	letter-spacing: 0.1em;
}

.contact__7vErs {
	margin-top: 2em;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.detail__xk9q0 {
	font-family: 'Segoe UI',
	Tahoma,
	Geneva,
	Verdana,
	sans-serif;
	font-weight: lighter;
	color: #FFF5F5;
	font-size: 1.1em;
	margin: 0px;
	padding-top: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
}


.api__arWvb {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 11;
    /* object-fit: contain;
    max-width: 45vw;
    box-shadow: -7px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 8px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 8px 20px 0px rgba(0, 0, 0, 0.75); */
}

.ui__mxb8K {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 11;
}

.ui_2__CuNqR {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
}


.card__EGCoR {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 45vw;
    height: 50vh;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 2px;
    overflow: hidden;
    background: #252525 ;
    border-radius: 10px;
    box-shadow: -2px 2px 0px 0px #202020, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0px, 0px) rotateX(25deg) rotateZ(-10deg);
            transform: translate(0px, 0px) rotateX(25deg) rotateZ(-10deg);
    z-index: 2;
    transition: all 1s ease;
}

.card__EGCoR:hover {
    /* transform: translateY(-10vh) rotateX(25deg) rotateZ(-20deg); */
    -webkit-transform: translateY(-20vh) rotateZ(0deg);
        -ms-transform: translateY(-20vh) rotate(0deg);
            transform: translateY(-20vh) rotateZ(0deg);
    box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}


/*# sourceMappingURL=ssr-bundle.de3e2.css.map*/